---

---

<article>
    <h2 class="text-[2rem] font-bold">Acerca de mi <p class="inline text-blue-600">/></p></h2>
    <p class="text-pretty p-4">Soy especialista en la creacion de aplicaciones web completas, desde el frontend hasta el backend. <br>
    Tambien realizo la extraccion, analisis y la visualizacion de datos, que a menudo involucran web scraping, PowerBi para transformar datos en soluciones estrategicas y escalables.
    </p>
</article>