---

---

<article>
    <h2 class="text-[2rem] font-bold">Acerca de mi <p class="inline text-blue-600">/></p></h2>
    <p class="text-pretty p-4">Soy especialista en la creacion de aplicaciones web completas, desde el frontend hasta el backend. <br>
    Tambien realizo la extraccion, analisis y la visualizacion de datos, que a menudo involucran web scraping, PowerBi para transformar datos en soluciones estrategicas y escalables.
    </p>
</article>

<style>
article {
  max-width: 800px;
  margin: auto;
  text-align: left; 
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.75rem; 
  }
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 1.5rem;
  }
}
</style>