---
import OutstandingCard from '../components/Outstanding_section.astro';

const Ecommerce = {
    image: "/images/3890438.jpg",
    imageAlt: "Descripcion de la imagen",
    title: "Ecommerce",
    title2nd: "Honey Bun",
    description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus possimus voluptatum nam aliquam veniam numquam molestiae quisquam, esse porro quidem culpa ipsum maxime! Repellat molestias, impedit voluptate quia fuga saepe!",
    difficultiesTitle: "Dificultades",
    difficulties: "difficulties",
    youtubeLink: "https://www.youtube.com/embed/Pixf6U7x-18?si=npo5GIprTQ75dxi7",
    githubLink: "https://github.com/",
    webLink: "https://github.com/",
    dailyLink: "https://github.com/"
};

const Drawshare = {
    image: "/images/person-adding-clothes-cart-closeup-online-shopping-campaign.jpg",
    imageAlt: "Descripcion de la imagen",
    title: "Canvas",
    title2nd: "DrawShare",
    description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus possimus voluptatum nam aliquam veniam numquam molestiae quisquam, esse porro quidem culpa ipsum maxime! Repellat molestias, impedit voluptate quia fuga saepe!",
    difficultiesTitle: "Dificultades",
    difficulties: "difficulties",
    youtubeLink: "https://www.youtube.com/embed/Pixf6U7x-18?si=npo5GIprTQ75dxi7",
    githubLink: "https://github.com/",
    webLink: "https://github.com/",
    dailyLink: "https://github.com/"
};
---

<article>
    <h2 class="text-[2rem] font-bold">Proyectos destacados <p class="inline text-blue-600">/></p></h2>

    <OutstandingCard project={Ecommerce} />
    <OutstandingCard project={Drawshare} />


</article>