---
import OutstandingCard from '../components/Outstanding_section.astro';

const Ecommerce = {
    image: "/images/3890438.jpg",
    imageAlt: "Descripcion de la imagen",
    title: "Ecommerce",
    title2nd: "Honey Bun",
    description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus possimus voluptatum nam aliquam veniam numquam molestiae quisquam, esse porro quidem culpa ipsum maxime! Repellat molestias, impedit voluptate quia fuga saepe!",
    difficultiesTitle: "Dificultades",
    difficulties: "difficulties",
    youtubeLink: "https://www.youtube.com/embed/Pixf6U7x-18?si=npo5GIprTQ75dxi7",
    githubLink: "https://github.com/",
    webLink: "https://github.com/",
    dailyLink: "https://github.com/"
};

const Drawshare = {
    image: "/images/person-adding-clothes-cart-closeup-online-shopping-campaign.jpg",
    imageAlt: "Descripcion de la imagen",
    title: "Canvas",
    title2nd: "DrawShare",
    description: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus possimus voluptatum nam aliquam veniam numquam molestiae quisquam, esse porro quidem culpa ipsum maxime! Repellat molestias, impedit voluptate quia fuga saepe!",
    difficultiesTitle: "Dificultades",
    difficulties: "difficulties",
    youtubeLink: "https://www.youtube.com/embed/Pixf6U7x-18?si=npo5GIprTQ75dxi7",
    githubLink: "https://github.com/",
    webLink: "https://github.com/",
    dailyLink: "https://github.com/"
};
---
<article class="featured-projects">
    <h2 class="heading">Proyectos destacados <span class="text-blue-600">/></span></h2>

    <OutstandingCard project={Ecommerce} />
    <OutstandingCard project={Drawshare} />
</article>

<style>
.featured-projects {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .heading {
    font-size: 1.8rem;
  }
  .featured-projects {
    padding: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.6rem;
  }
  .featured-projects {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .featured-projects {
    padding: 0.5rem;
  }
}
</style>
