---
import ProjectComponent from '../components/ProjectComponent.astro';

const pythonOrganizer = {
  title: 'Python Organizer',
  description: 'Python Organizer Script | Script diseñado para organizar archivos en una carpeta según sus extensiones. Los archivos se mueven automáticamente a carpetas basadas en su tipo.',
  image: "/images/Screenshot.png",
  imageAlt: 'Python Organizer',
  githubLink: 'https://github.com/Helien-Dev/Python-Organizer.git',
  dailyLink: 'https://cbb20e34.daily-portfolio.pages.dev/'
}

const honeyBunShop = {
  title: 'Honey Bun Shop - Tienda',
  description: 'Honey Bun Shop 🍯🐝 – Un ecommerce desarrollado en Python con Django que destaca por su diseño intuitivo y una experiencia de usuario optimizada (UX/UI).',
  image: "https://res.cloudinary.com/dhbzt4qjn/image/upload/v1731085048/dbkrbhbzinztfpp0fzao.png",
  imageAlt: 'Honey Bun Shop - Tienda',
  githubLink: 'https://github.com/Helien-Dev/Honey-Bun-Django.git',
  dailyLink: 'https://dailydev.lat/posts/HoneyBunShop/'
}

---

<h2 class="projects-title" id="projects">
  Proyectos <span class="text-blue-600">/></span>
</h2>

<article class="projects-container">
  <div class="projects-grid">
    <!-- Other Projects -->
    <ProjectComponent project={pythonOrganizer} />
    <ProjectComponent project={honeyBunShop} />
  </div>
</article>

<style>
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.projects-container {
  margin: auto;
  padding: 1rem;
  max-width: 800px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .projects-title {
    font-size: 1.8rem;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* Mantiene dos columnas */
  }
}

@media screen and (max-width: 768px) {
  .projects-title {
    font-size: 1.6rem;
  }
  .projects-grid {
    grid-template-columns: 1fr; /* Cambia a una columna */
  }
}

@media screen and (max-width: 640px) {
  .projects-title {
    font-size: 1.4rem;
  }
  .projects-container {
    padding: 0.5rem;
  }
}
</style>
