---
import ProjectComponent from '../components/ProjectComponent.astro';

const ejemplo1 = {
  title: 'Title',
  description: 'Description',
  image: "/images/8767132.jpg",
  imageAlt: 'alt description',
  githubLink: 'http://github.com/',
  dailyLink: 'http://github.com/',
}

---
<h2 class="text-[2rem] font-bold">
  Proyectos <p class="inline text-blue-600">/></p>
</h2>
<article class="m-auto max-w-[640px]">
  <div class="grid grid-cols-2 justify-start items-center gap-2 p-4 max-w-[800px]">
    <!-- Individuals Projects -->
    <ProjectComponent project={ ejemplo1 } />
    <ProjectComponent project={ ejemplo1 } />
    <ProjectComponent project={ ejemplo1 } />
    <ProjectComponent project={ ejemplo1 } />

</article>
