---
import ProjectComponent from '../components/ProjectComponent.astro';

const ejemplo1 = {
  title: 'Title',
  description: 'Description',
  image: "/images/8767132.jpg",
  imageAlt: 'alt description',
  githubLink: 'http://github.com/',
  dailyLink: 'http://github.com/',
}

---

<h2 class="projects-title">
  Proyectos <span class="text-blue-600">/></span>
</h2>

<article class="projects-container">
  <div class="projects-grid">
    <!-- Other Projects -->
    <ProjectComponent project={ejemplo1} />
    <ProjectComponent project={ejemplo1} />
    <ProjectComponent project={ejemplo1} />
    <ProjectComponent project={ejemplo1} />
  </div>
</article>

<style>
.projects-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5rem;
}

.projects-container {
  margin: auto;
  padding: 1rem;
  max-width: 800px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .projects-title {
    font-size: 1.8rem;
  }
  .projects-grid {
    grid-template-columns: repeat(2, 1fr); /* Mantiene dos columnas */
  }
}

@media screen and (max-width: 768px) {
  .projects-title {
    font-size: 1.6rem;
  }
  .projects-grid {
    grid-template-columns: 1fr; /* Cambia a una columna */
  }
}

@media screen and (max-width: 640px) {
  .projects-title {
    font-size: 1.4rem;
  }
  .projects-container {
    padding: 0.5rem;
  }
}
</style>
