---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface layoutProps {
	title: string;
	content: string;
}

interface layoutComponent {
	seo: layoutProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/developer.png" />
		<meta name="generator" content={seo.content} />
		<title>{seo.title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<script src="../js/main.js"></script>
		<Footer />
	</body>
	</html>

	<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Onest Variable', sans-serif;
		background: #13151a;
	}
</style>
